<div class="credit-bar-wrapper">
    <h3 class="text-white">Contacts:</h3>
    <div class="contact-info">
        <a href="https://www.linkedin.com/in/nhut-linh-ngo/" target="_blank" class="contact-info-links">
            <i class="fa-brands fa-linkedin"></i> Linkedin
        </a>
    </div>
    <div class="contact-info">
        <a href="https://github.com/NhutLinh-Ngo" target="_blank" class="contact-info-links">
            <i class="fa-brands fa-github"></i> GitHub
        </a>
    </div>
    <div class="contact-info">
        <a href="mailto:nngo6133@gmail.com" target="_blank" class="contact-info-links">
            <i class="fa-sharp fa-solid fa-envelope"></i> Mail
        </a>
    </div>
</div>
