<div class="project-list-page-wrapper">
    <h1 id="page-title">Projects</h1>
    <div class="projects-card-wrapper">
        <% projects.forEach(project => {%>
            <%- include('./project_card', {project: project}) %>
        <% }); %>
        </div>
</div>
<script src="/javascripts/tooltips_script.js" type="application/javascript"></script>
