/*Variables*/
@keyframes glow {
  0% {
    text-shadow: 0 0 1rem #fefefe;
  }
  50% {
    text-shadow: 0 0 1.85rem #ededed;
  }
  100% {
    text-shadow: 0 0 1rem #fefefe;
  }
}
.left-section {
  position: relative;
  width: 40%;
}
.left-section .inner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

* {
  box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0C0E10, #446182);
}
.background .ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background: #0C0E10;
}

.error-wrapper {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 100vh;
  padding-bottom: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.right-section {
  position: relative;
  width: 50%;
}

.heading {
  text-align: center;
  font-size: 9em;
  line-height: 1.3em;
  margin: 2rem 0 0.5rem 0;
  padding: 0;
  text-shadow: 0 0 1rem #fefefe;
}

.redirect-links {
  text-shadow: 0 0 1rem #fefefe;
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.subheading {
  text-align: center;
  max-width: 480px;
  font-size: 1.5em;
  line-height: 1.15em;
  padding: 0 1rem;
  margin: 0 auto;
}

.svgimg {
  position: absolute;
  bottom: 0;
  padding-top: 10vh;
  padding-left: 1vh;
  max-width: 100%;
  max-height: 100%;
}
.svgimg .bench-legs {
  fill: #0C0E10;
}
.svgimg .top-bench {
  stroke: #0C0E10;
  stroke-width: 1px;
  fill: #5B3E2B;
}
.svgimg .bottom-bench {
  stroke: #0C0E10;
  stroke-width: 1px;
  fill: #5B3E2B;
}
.svgimg .bottom-bench path:nth-child(1) {
  fill: #432d20;
}
.svgimg .lamp-details {
  fill: #202425;
}
.svgimg .lamp-accent {
  fill: #2c3133;
}
.svgimg .lamp-bottom {
  fill: linear-gradient(#202425, #0C0E10);
}
.svgimg .lamp-light {
  fill: #EFEFEF;
}

@media (max-width: 770px) {
  .background .ground {
    height: 0vh;
  }
  .container {
    flex-direction: column;
    padding-bottom: 0vh;
  }
  .left-section {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
  }
  .left-section .inner-content {
    position: relative;
    padding: 1rem 0;
  }
  .heading {
    font-size: 7em;
    line-height: 1.15;
    margin: 0;
  }
  .subheading {
    font-size: 1.3em;
    line-height: 1.15;
    max-width: 100%;
  }
  .right-section {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
  }
  .svgimg {
    padding: 0;
  }
}
figure {
  display: block;
}

body {
  background-color: #171717;
  font-family: "Mulish", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
}

li, p {
  font-weight: 300;
}

iframe {
  width: 100%;
  border-radius: 5px;
}

.absolute {
  position: absolute;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.text-gold {
  color: #e0c17d;
}

.active {
  border-bottom: 2px solid #e0c17d;
}

.truncate {
  /* Avoids text being rendered outside the container */
  width: 100%;
  overflow: hidden;
  /* Avoid text going to multiple lines */
  white-space: nowrap;
  /* Sets the ... once the text overflows */
  text-overflow: ellipsis;
}

.project-list-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10%;
  max-width: 100%;
}

#projects-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
  max-width: 1250px;
  box-sizing: border-box;
}

.project-card-container {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  box-sizing: border-box;
}

.project-image-container {
  border: solid thin #e0c17d;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.project-image {
  transition: all 0.3s ease-in-out;
}

.project-image-container:hover .project-image {
  filter: brightness(30%);
  transform: scale(1.3);
}
.project-image-container:hover .project-summary {
  visibility: visible;
}

.project-summary {
  top: 1rem;
  left: 1.5rem;
  padding-right: 15px;
  color: rgba(255, 255, 255, 0.842);
  visibility: hidden;
}

.project-name {
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #e0c17d;
  cursor: pointer;
  text-decoration: none;
}

.project-name:hover {
  color: #ab9972;
}

.project-owner {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: rgba(208, 205, 205, 0.76);
  width: fit-content;
  height: 50px;
  padding: 0;
  cursor: pointer;
  height: fit-content;
}
.project-owner img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-decoration: none;
}

.project-owner:hover {
  color: rgb(129, 129, 129);
}

.sortby-wrapper {
  width: 100%;
  max-width: 1250px;
}

.sortby-title {
  color: #434343;
}

#dropdownMenuButton1 {
  background-color: #434343;
}

.dropdown-menu {
  background-color: #434343;
}

#owner-info-card {
  position: absolute;
  z-index: 10;
  transform: translateY(-105%);
}

.owner-info-wrapper {
  position: relative;
  background-color: #252525;
  min-width: 250px;
  max-width: 350px;
  padding: 1rem 1rem 1rem 50px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.886);
}
.owner-info-wrapper .owner-info-image {
  position: absolute;
  top: -30px;
  left: -30px;
  border: 3px solid #252525;
}

.owner-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  font-size: 0.9rem;
  font-weight: 200;
  margin: 10px;
}

.project-title {
  font-size: 3rem;
}

.summary {
  width: 60%;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .project-title {
    font-size: 2rem;
  }
  .summary {
    font-size: 1rem;
  }
}
.project-stats-wrapper {
  background-color: #6c6c6c;
  border: solid thin rgba(193, 158, 84, 0.6392156863);
}

.projet-images {
  display: flex;
  flex-direction: column;
  padding-right: 120px;
}

@media screen and (max-width: 1200px) {
  .projet-images {
    padding-right: 0;
  }
}
.project-gallary-holder {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
}

.project-image-anchor {
  width: 120px;
  height: 100px;
}

.project-description {
  max-width: 100%;
}
.project-description * {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.section-title {
  color: #535050;
}

#project-details {
  max-width: 100%;
}
#project-details * {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#project-details a {
  color: #e0c17d;
  text-decoration: none;
}
#project-details img {
  width: 100%;
  border-radius: 5px;
}

.section-seperator {
  border: thin solid #6c6c6c;
}

.dead-link {
  color: #434343;
}

#project-logs img {
  max-width: 100%;
  border-radius: 5px;
}
#project-logs a {
  color: #e0c17d;
  text-decoration: none;
}

.dont-show-log {
  display: none;
}

.modal-container {
  background-color: #171717;
}

.modal-header {
  border-bottom: none;
}

.modal-body img {
  max-width: 100%;
  border-radius: 5px;
}
.modal-body a {
  color: #e0c17d;
  text-decoration: none;
}

#project-instructions img {
  max-width: 100%;
  border-radius: 5px;
}
#project-instructions a {
  color: #e0c17d;
  text-decoration: none;
}

.pagination-wrapper {
  width: 100%;
  max-width: 1250px;
}

.pagination-button {
  text-decoration: none;
  background-color: rgb(67, 67, 67);
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: rgb(58, 58, 58);
}

.project-recommened-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-recommened-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1rem;
  max-width: 1250px;
  box-sizing: border-box;
}

.project-container {
  max-width: 300px;
  position: relative;
}

.project-recommened-image-container {
  box-sizing: border-box;
}
