body {
  background-color: #171717;
  font-family: "Mulish", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
}

.absolute {
  position: absolute;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.text-gold {
  color: #e0c17d;
}

.active {
  border-bottom: 2px solid #e0c17d;
}

.truncate {
  /* Avoids text being rendered outside the container */
  width: 100%;
  overflow: hidden;
  /* Avoid text going to multiple lines */
  white-space: nowrap;
  /* Sets the ... once the text overflows */
  text-overflow: ellipsis;
}

.project-list-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10%;
}

.projects-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
  max-width: 1250px;
  box-sizing: border-box;
}

.project-card-container {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  box-sizing: border-box;
}

.project-image-container {
  border: solid thin rgba(193, 158, 84, 0.6392156863);
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.project-image {
  transition: all 0.3s ease-in-out;
}

.project-image-container:hover .project-image {
  filter: brightness(30%);
  transform: scale(1.3);
}
.project-image-container:hover .project-summary {
  visibility: visible;
}

.project-summary {
  top: 1rem;
  left: 1.5rem;
  padding-right: 15px;
  color: rgba(255, 255, 255, 0.842);
  visibility: hidden;
}

.project-name {
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #e0c17d;
  cursor: pointer;
  text-decoration: none;
}

.project-name:hover {
  color: #ab9972;
}

.project-owner {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  font-size: 1rem;
  color: rgba(208, 205, 205, 0.76);
  width: fit-content;
  height: 50px;
  padding: 0;
  cursor: pointer;
}

.project-owner img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-decoration: none;
}

.owner-info-wrapper {
  bottom: 100%;
  background-color: #252525;
  min-width: 250px;
  padding: 1rem;
  border-radius: 20px;
  z-index: 10;
  color: rgba(255, 255, 255, 0.886);
}

.owner-info-wrapper {
  visibility: hidden;
}

.project-owner:hover .owner-info-wrapper {
  visibility: visible;
}

.owner-info-username-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.owner-info-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.owner-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  font-size: 0.9rem;
  font-weight: 200;
  margin: 10px;
}

.project-title {
  font-size: 3rem;
}

.summary {
  width: 60%;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .project-title {
    font-size: 2rem;
  }
  .summary {
    font-size: 1rem;
  }
}
.project-stats-wrapper {
  background-color: #6c6c6c;
  border: solid thin rgba(193, 158, 84, 0.6392156863);
}

.projet-images {
  display: flex;
  flex-direction: column;
  padding-right: 120px;
}

@media screen and (max-width: 1200px) {
  .projet-images {
    padding-right: 0;
  }
}
.project-gallary-holder {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.project-image-anchor {
  width: 120px;
  height: 100px;
}
