$blackBackground: #171717;
$whiteText: white;
$goldText: #e0c17d;
$mobileBreakPoint: 360px;
$tabletBreakPoint: 768px;
$largeBreakPoint: 1200px;
@import 'footer.scss';
@import 'error_page.scss';
@import 'home_page.scss';
@import 'project_owner_tooltips.scss';
@import 'project_details_page.scss';
@import 'recommended_projects.scss';
figure{
    display: block;
}
body{
    background-color: $blackBackground;
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
}
h1{
    color: $whiteText;
}

li, p{
    font-weight: 300;
}

iframe{
    width: 100%;
    border-radius: 5px;
}


// reuseable class names
.absolute{
    position: absolute;
}

.wh100{
    width: 100%;
    height: 100%;
}

.text-gold{
    color: #e0c17d;
}

.active{
    border-bottom: 2px solid #e0c17d;
}
.truncate {
    /* Avoids text being rendered outside the container */
    width: 100%;
    overflow: hidden;
    /* Avoid text going to multiple lines */
    white-space: nowrap;
    /* Sets the ... once the text overflows */
    text-overflow: ellipsis;
}




//  sort By
.sortby-wrapper{
    width: 100%;
    max-width: 1250px;
}
.sortby-title{
    color: #434343;
}
#dropdownMenuButton1{
    background-color: #434343;
}

.dropdown-menu{
    background-color: #434343;
}

// Pagination SCSS
.pagination-wrapper{
    width: 100%;
    max-width: 1250px;
}

.pagination-button{
    text-decoration: none;
    background-color: rgb(67, 67, 67);
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.pagination-button:hover{
    background-color: rgb(58, 58, 58);
}


@media (max-width: $largeBreakPoint) {
    #projects-card-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .project-recommened-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .projet-images {
        padding-right: 0;
    }
}

@media (max-width: $tabletBreakPoint) {
    #projects-card-wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .project-recommened-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .project-title {
        font-size: 2rem;
    }

    .summary {
        font-size: 1rem;
    }
}
